<div class="col-md-8 grid-margin stretch-card">
	<div class="card">
		<div class="card-body">
			<h4 class="card-title">{{title}}</h4>
			<p class="card-description"></p>
			{{ form_start(form) }}
			{{ form_widget(form) }}
			{{ include('parts/form/buttons/_submit.html.twig') }}
			{{ include('parts/form/buttons/_back.html.twig',{'path':index_path})}}
			{{ form_end(form) }}
		</div>
	</div>
</div>
