{% extends 'base.html.twig' %}
{% block body %}
	<div
		class="container-scroller">
		<!-- partial:../../partials/_navbar.html -->
		<nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
			<div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
				<a class="navbar-brand brand-logo" href="{{ path('dashboard') }}"><img src="{{asset('img/logo/logo.png')}}" alt="logo"/></a>
				<a class="navbar-brand brand-logo-mini" href="{{ path('dashboard') }}"><img src="{{asset('img/logo/logo.png')}}" alt="logo"/></a>
			</div>
			<div class="navbar-menu-wrapper d-flex align-items-stretch">
				<button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
					<span class="mdi mdi-menu"></span>
				</button>
				<ul class="navbar-nav navbar-nav-right">
					<li class="nav-item nav-profile dropdown">
						<a class="nav-link dropdown-toggle" id="profileDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
							<div class="nav-profile-text">
								<p class="mb-1 text-black">{{ app.user.username }}</p>
							</div>
						</a>
						<div class="dropdown-menu navbar-dropdown" aria-labelledby="profileDropdown">
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="{{ logout_path() }}">
								<i class="mdi mdi-logout mr-2 text-primary"></i>
								Wyloguj się
							</a>
						</div>
					</li>
					<li class="nav-item d-none d-lg-block full-screen-link">
						<a class="nav-link">
							<i class="mdi mdi-fullscreen" id="fullscreen-button"></i>
						</a>
					</li>
					<li class="nav-item nav-logout d-none d-lg-block">
						<a class="nav-link" href="{{ logout_path() }}">
							<i class="mdi mdi-power"></i>
						</a>
					</li>
				</ul>
				<button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
					<span class="mdi mdi-menu"></span>
				</button>
			</div>
		</nav>
		<!-- partial -->
		<div
			class="container-fluid page-body-wrapper">
			<!-- partial:../../partials/_sidebar.html -->
			<nav class="sidebar sidebar-offcanvas" id="sidebar">

				<ul class="nav">
					<li class="nav-item">
						<hr class="mt-4 d-none d-lg-block"/>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ path('dashboard') }}">
							<span class="menu-title">Dashboard</span>
							<i class="mdi mdi-home menu-icon"></i>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ path('period_index') }}">
							<span class="menu-title">Okresy rozliczeniowe</span>
							<i class="mdi mdi-calendar-multiple menu-icon"></i>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ path('income_index') }}">
							<span class="menu-title">Przychody</span>
							<i class="mdi mdi-battery-charging-60 menu-icon"></i>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" data-toggle="collapse" href="#expense-pages" aria-expanded="false" aria-controls="expense-pages">
							<span class="menu-title">Wydatki</span>
							<i class="menu-arrow"></i>
							<i class="mdi mdi-barcode-scan menu-icon"></i>
						</a>
						<div class="collapse" id="expense-pages">
							<ul class="nav flex-column sub-menu">
								<li class="nav-item">
									<a class="nav-link" href="#">
										Planowane
									</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="#">
										Realne
									</a>
								</li>

							</ul>
						</div>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">
							<span class="menu-title">Cele</span>
							<i class="mdi mdi-trophy-outline menu-icon"></i>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" data-toggle="collapse" href="#dictionary-pages" aria-expanded="false" aria-controls="dictionary-pages">
							<span class="menu-title">Słowniki</span>
							<i class="menu-arrow"></i>
							<i class="mdi mdi-view-quilt menu-icon"></i>
						</a>
						<div class="collapse" id="dictionary-pages">
							<ul class="nav flex-column sub-menu">
								<li class="nav-item">
									<a class="nav-link" href="{{path('dictionary_income_type_index')}}">
										Typy przychodów
									</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="{{path('dictionary_expense_type_index')}}">
										Typy wydatków
									</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="{{path('dictionary_account_index')}}">
										Konta
									</a>
								</li>
							</ul>
						</div>
					</li>
					<li class="nav-item sidebar-actions">
						<span class="nav-link">
							<div class="border-bottom"></div>
							<button class="btn btn-block btn-lg btn-gradient-primary mt-4">+Realny wydatek</button>
						</span>
					</li>
				</ul>
			</nav>
			<!-- partial -->
			<div class="main-panel">
				<div class="content-wrapper">
					<div class="page-header">
						<h3 class="page-title">
							<span class="page-title-icon bg-gradient-primary text-white mr-2">
								{% block page_icon %}
									<i class="mdi mdi-home"></i>
								{% endblock %}
							</span>
							{% block page_title %}
								Dashboard
							{% endblock %}
						</h3>
					</div>
					{% block content %}{% endblock %}
				</div>
				<!-- content-wrapper ends -->
				<!-- partial:../../partials/_footer.html -->
				<footer class="footer">
					<div class="d-sm-flex justify-content-center justify-content-sm-between">
						<span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2020
							<a href="http://kamilbartczak.pl" target="_blank">Kamil Bartczak</a>. All rights reserved.</span>
						<span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Kamil Bartczak & stworzone z
							<i class="mdi mdi-heart text-danger"></i>
						</span>
					</div>
				</footer>
				<!-- partial -->
			</div>
			<!-- main-panel ends -->
		</div>
		<!-- page-body-wrapper ends -->
	</div>
{% endblock %}
